<div class="basic-info-container">
    <div class="row">
        <div class="grid">
            <div class="icon-parent green-background">
                <md-icon role="img" class="material-icons mat-icon" aria-label="search">search</md-icon>
            </div>
            <div class="data-parent green-text">
                <div class="data-details">{{allInfo.Type}}</div>
                <div class="data-type">Type</div>
            </div>
        </div>
        <div class="grid">
            <div class="icon-parent red-background">
                <md-icon role="img" class="material-icons mat-icon" aria-label="search"></md-icon>
            </div>
            <div class="data-parent red-text">
                <div class="data-details">{{allInfo.BoxOffice}}</div>
                <div class="data-type">BoxOffice</div>
            </div>
        </div>
        <div class="grid">
            <div class="icon-parent orange-background">
                <md-icon role="img" class="material-icons mat-icon" aria-label="search"></md-icon>
            </div>
            <div class="data-parent orange-text">
                <div class="data-details">{{allInfo.imdbVotes}}</div>
                <div class="data-type">IMDB votes</div>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="grid">
            <div class="icon-parent green-background">
                <md-icon role="img" class="material-icons mat-icon" aria-label="search">search</md-icon>
            </div>
            <div class="data-parent green-text">
                <div class="data-details">{{allInfo.Production}}</div>
                <div class="data-type">Production</div>
            </div>
        </div>
        <div class="grid">
            <div class="icon-parent red-background">
                <md-icon role="img" class="material-icons mat-icon" aria-label="search"></md-icon>
            </div>
            <div class="data-parent red-text">
                <div class="data-details">{{allInfo.Released}}</div>
                <div class="data-type">Released</div>
            </div>
        </div>

        <div class="grid">
            <div class="icon-parent orange-background">
                <md-icon role="img" class="material-icons mat-icon" aria-label="search"></md-icon>
            </div>
            <div class="data-parent orange-text">
                <div class="data-details">{{allInfo.Metascore}}</div>
                <div class="data-type">Metascore</div>
            </div>
        </div>


    </div>
</div>