<div class="plot" style="">
                <md-card class="example-card mat-card" style="padding-bottom: 0">
                    <md-card-header class="mat-card-header">
                        <div class="example-header-image mat-card-avatar">
                            <i class="material-icons" style="font-size:30px;">info outline</i>
                        </div>
                        <div class="mat-card-header-text" style="margin-top:7px;">
                            Plot
                        </div>
                    </md-card-header>
                    <md-card-content class="mat-card-content search-content" style="padding-bottom: 15px;padding-top: 10px;">
                        <p>
                            In the near future, a weary Logan cares for an ailing Professor X somewhere on the Mexican border. However, Logan's attempts
                            to hide from the world and his legacy are upended when a young mutant arrives, pursued by dark
                            forces.", • "Language":"English, Spanish

                        </p>
                    </md-card-content>
                </md-card>
            </div>