<modal></modal>

<div class="content">
    <div class="section-one">
        <poster></poster>
    </div>
    <div class="section-two">
        <basic-information-grid></basic-information-grid>
        <div class="inside-section-two">
            <div class="left-inside">
                <rating></rating>
                <people></people>
            </div>
            <div class="right-inside">
                <plot [theData]="allInfo"></plot>
                <other-information [theData]="allInfo"></other-information>
            </div>
        </div>
    </div>


    <button class="mat-fab" md-fab="" (click)="search()">
        <span class="mat-button-wrapper">
            <md-icon role="img" class="material-icons mat-icon" aria-label="search">search</md-icon>
        </span>
            <div class="mat-button-ripple mat-ripple mat-button-ripple-round" md-ripple=""></div>
            <div class="mat-button-focus-overlay"></div>
</button>
</div>