<div class="content" style="padding:20px;overflow: hidden;max-width: 1245px;margin: auto;" *ngIf="isLoaded">
    <div class="section-one" style="width:30%;display:inline-block;vertical-align: top;">
        <poster></poster>
    </div>

    <div class="section-two" style="width:30%;display:inline-block;vertical-align: top;">
        <basic-information></basic-information>
        <imdb></imdb>
    </div>

    <div class="section-three" style="width:30%;display:inline-block;vertical-align: top;">
            <plot></plot>
            <third-party-rating></third-party-rating>
    </div>
</div>
<button class="mat-fab" md-fab="" style="position: fixed;bottom: 10;bottom: 8%;right: 4%;">
        <span class="mat-button-wrapper">
            <md-icon role="img" class="material-icons mat-icon" aria-label="search">search</md-icon>
        </span>
            <div class="mat-button-ripple mat-ripple mat-button-ripple-round" md-ripple=""></div>
            <div class="mat-button-focus-overlay"></div>
</button>
</div>