.plot{
    width:100%;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.plot .plot-inner{
    padding: 20px;
    background: white;
    font-size: 13px;
    text-align: justify;
    color:#656565
}
.plot .plot-inner .plot-text{
    border-left: 3px solid #cfdbe2;
    padding-left: 10px;
}
.plot .synopsis{
    background:#131e26;
    color:white;
    font-size:16px;
    padding:15px;
    text-align:center;
}