<md-card class="example-card mat-card poster-container">
    <md-card-header class="mat-card-header poster-header">
        <div class="example-header-image mat-card-avatar">
            <img [src]="allInfo.Poster">
        </div>
        <div class="mat-card-header-text poster-text">
            <md-card-title class="mat-card-title"><label class="ellipsis" title="{{allInfo.Title}}">{{allInfo.Title}}</label>
                <span>{{allInfo.imdbRating}}<i class="material-icons">star</i></span></md-card-title>
        </div>
    </md-card-header>
    <img md-card-image="" [src]="allInfo.Poster" class="mat-card-image">
    <md-card-content class="mat-card-content">
        <p>
           <span *ngFor="let localGenre of returnArray">{{localGenre}}</span>
        </p>
    </md-card-content>
</md-card>

<div class="website">
        <div class="inner-website">
            <a class="link" href="{{allInfo.Website}}" target="_blank">{{allInfo.Website}}</a>
            <p>Website</p>
        </div>
</div>