<div class="content">
    <md-card class="example-card mat-card">
        <md-card-header class="mat-card-header">
            <div class="example-header-image mat-card-avatar"></div>
            <div class="mat-card-header-text">
                <md-card-title class="mat-card-title">movie<span>Mania</span></md-card-title>
                <md-card-subtitle class="mat-card-subtitle">Powered by OMDB</md-card-subtitle>
            </div>
        </md-card-header>
        <!--img md-card-image="" src="https://in.bmscdn.com/iedb/movies/images/mobile/listing/large/logan-et00053965-26-02-2017-06-48-39.jpg" class="mat-card-image"-->
        <md-card-content class="mat-card-content search-content">
            <p>
                <md-input-container>
                    <input mdInput placeholder="search by name" value="">
                </md-input-container>
                <md-input-container class="yearSearch">
                    <input mdInput placeholder="year of release" value="">
                </md-input-container>
                <!--md-progress-spinner mode="indeterminate"></md-progress-spinner-->
            </p>
        </md-card-content>
        <md-card-actions class="mat-card-actions">
            <button class="mat-button" md-button=""><span class="mat-button-wrapper">Reset</span>
<div class="mat-button-ripple mat-ripple" md-ripple=""></div>

<div class="mat-button-focus-overlay"></div>
</button>
            <button class="mat-button" md-button=""><span class="mat-button-wrapper">Search</span>
<div class="mat-button-ripple mat-ripple" md-ripple=""></div>

<div class="mat-button-focus-overlay"></div>
</button>
        </md-card-actions>

    </md-card>
</div>